autopep8
Babel
certifi
ipython
ipython-genutils
ipywidgets
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab
jupyterlab-server
Keras
Keras-Applications
Keras-Preprocessing
matplotlib
nltk
notebook
numpy
Orange-Spectroscopy
Orange3
Orange3-Associate
Orange3-Bioinformatics
Orange3-Educational
Orange3-ImageAnalytics
Orange3-Network
Orange3-Prototypes
Orange3-SingleCell
Orange3-Textable
Orange3-Timeseries
pandas
pandas-datareader
pandocfilters
Pillow
pylint
scikit-learn
scipy
Theano
spyder
spyder-line-profiler
spyder-memory-profiler
spyder-reports
spyder-unittest
SQLAlchemy
SQLAlchemy-Utils
Theano
virtualenv

# autopep8==1.5
# Babel==2.4.0
# certifi==2019.11.28
# ipython==7.5.0
# ipython-genutils==0.2.0
# ipywidgets==7.4.2
# jupyter==1.0.0
# jupyter-client==5.2.4
# jupyter-console==6.0.0
# jupyter-core==4.4.0
# jupyterlab==0.35.4
# jupyterlab-server==0.2.0
# Keras==2.3.1
# Keras-Applications==1.0.7
# Keras-Preprocessing==1.0.9
# matplotlib==3.0.3
# nltk==3.4
# notebook==5.7.8
# numpy==1.18.1
# Orange-Spectroscopy==0.4.4
# Orange3==3.21.0
# Orange3-Associate==1.1.5
# Orange3-Bioinformatics==3.2.7
# Orange3-Educational==0.1.8
# Orange3-ImageAnalytics==0.3.0
# Orange3-Network==1.4.2
# Orange3-Prototypes==0.12.0
# Orange3-SingleCell==0.9.1
# Orange3-Textable==3.1.0
# Orange3-Timeseries==0.3.3
# pandas==0.24.2
# pandas-datareader==0.7.0
# pandocfilters==1.4.2
# Pillow==6.0.0
# pylint==2.4.4
# scikit-learn==0.22.1
# scipy==1.2.1
# Theano==1.0.4
# spyder==3.2.6
# spyder-line-profiler==0.1.1
# spyder-memory-profiler==0.1.2
# spyder-reports==0.1.1
# spyder-unittest==0.3.0
# SQLAlchemy==1.3.13
# SQLAlchemy-Utils==0.36.1
# Theano==0.9.0
# virtualenv==20.0.8
